{% extends 'layout.html.twig' %}

{% block title %}Posts featured{% endblock %}

{% block content %}
    <h2>Liste des posts dont le champs featured = TRUE </h2>
    <ul>
        {% for blogPost in blogPostList %}
            <li> {{ blogPost.title }}</li>
            <ul>
                <li>{{ blogPost.slug }}</li>
                <li>{{ blogPost.content }}</li>
                <li>{{ blogPost.date }}</li>
                <li>{{ blogPost.category }}</li>
                <li>{{ blogPost.featured }}</li>
            </ul>
        {% endfor %}
    </ul>
{% endblock %}
